<!DOCTYPE html>
<html>
  <%- include('./partials/head'); %>
  <body>
    <%- include('./partials/sidebar'); %>

    <div class="main">
        <h1><%= title %></h1>

        <form action="/create" method="POST">
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div>
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>
            <div>
                <label for="price">Price:</label>
                <input type="number" id="price" name="price" required>
            </div>
            <div>
                <label for="quantity">Quantity:</label>
                <input type="number" id="quantity" name="quantity" required>
            </div>
            <div>
                <label>Unit:</label>
                <label for="pcs">
                    <input type="radio" id="pcs" name="unit" value="pcs" required> pcs
                </label>
                <label for="kg">
                    <input type="radio" id="kg" name="unit" value="kg" required> kg
                </label>
            </div>
            <div>
                <label for="category">Category:</label>
                <select id="category" name="category" required>
                    <option value="">-- Choose category --</option>
                    <% if (categories && categories.length > 0) { %>
                        <% categories.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% }); %>
                    <% } %>
                </select>
            </div>
            <div>
                <button type="submit" class="button primary">Create</button>
            </div>
        </form>

        <a href="/" class="button secondary">Go back</a>
    </div>
  </body>
</html>